    .slideInRight {
        animation: slideInRight 2s forwards;
    }

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(50%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }